.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-top: 1px solid;
  background-color: #900c3f;
  color: white;
  z-index: 1;
}

.flogo_copy {
  margin-left: 110px;
}

.logo {
  height: 80px;
  width: 80px;
}
.acl {
  list-style-type: none;
}
.about_contact_us {
  text-decoration: none;
  color: #d7a0b5;
}
.social_icon {
  display: flex;
}

.listt {
  margin-left: 200px;
}

.social {
  margin-left: 250px;
}

.social_text {
  margin-left: 38px;
}
.listt_text {
  margin-left: 32px;
}
.txtclr {
  color: #d7a0b5 !important;
}
.iconclr {
  color: #d7a0b5;
  margin: 5px;
}
