.addtocartpage {
  background-color: rgb(237 229 232);
}
.addtocartheader {
  border-bottom: 1px solid darkgray;
  height: 50px;
}
.path {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.secure {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
