.image_wrapper {
  background-image: url("/assets/about/img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: auto;
  .h2 {
    color: aquamarine;
  }
}
.about_image_2 {
  border-radius: 20px;
}
