.shirtpage {
  background-color: rgb(237 229 232);
}

.btnclr {
  width: 250px;
  height: 60px;
  color: #900c3f;
  background-color: #d7a0b5;
}

.btnclr:hover {
  color: #d7a0b5;
  background-color: black;
}

.btnclrr {
  color: #900c3f;
  background-color: #d7a0b5;
}

.btnclrr:hover {
  color: #d7a0b5;
  background-color: black;
}

.hr {
  margin: auto;
  color: #d7a0b5;
  border: 1px solid;
  margin-top: 10px;
}

.images {
  height: 130px !important;
  object-fit: contain !important;
  border-radius: 10px;
}

.likeicn {
  color: #d7a0b5;
  cursor: pointer;
  float: right;
  margin-right: 30px;
}
